.canvas {
  height: calc(100vh - 40px);
  position: relative;
  padding: 0 30px;
}

.canvas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
}

.canvas .note {
  margin: 10px;
  position: relative;
}